@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --cor1: #f20519;
    --cor5: #04d9d9;
    --fonte-padrao: 'Roboto', Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    align-items: center;
    align-content: center;
    align-self: center;
    font-family: var(--fonte-padrao);
}

header {
    background-color: #f1f1f1;
    margin: 0% 7% 0% 7%;
    padding: 1% 5% 1% 5%;
    border-radius: 0 0 0.5em 0.5em;
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.289);

}

nav {
    display: inline;
}

button {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 1%;
    color: var(--cor1);
    font-family: var(--fonte-padrao);
    font-size: 1em;
    font-weight: bold;
    border-color: var(--cor1);

}

button:hover {
    background-color: var(--cor1);
    color: #fff;
}

/* https://stackoverflow.com/questions/39077407/search-bar-like-google-in-html-and-css */

select {
    border: none;
    border-radius: 0.5em;
    margin: 0px;
    width: 6em;
    border:1px solid #eaeaea;
    outline:none;
    font-size: 1em;
}

select :hover {
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;

}

input{
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    margin: 0px;
    height: 1em;
    width: 20%;
    border:1px solid #eaeaea;
    outline:none;
    font-size: 1em;
}
input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus{
    border-color:#4d90fe;
}


input[type="submit"] {
    border-radius: 0.5em;
    background: #f2f2f2;
    border: 0.1em solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 1em;
    font-weight: bold;
    width: 5em;
    padding: 0 1em;
    height:2em;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

main {
    display: block;
    background-color: #f1f1f1;
    margin: 0% 7% 2.5% 7%;
    padding: 0 0 2.5% 0;
    text-align: center;
    border-radius: 0.25em;
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.289);
}

img {
    border-radius: 0.25em;
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.289);
    max-width: 100%;
}

#mainPicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  min-width: 70%;
}
/*
.container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--cor5);
}

.container:hover .overlay {
  opacity: 0.5;
}

.textOverlay {
    color: #fff;

    font-weight: bolder;
    position: relative;
}
*/

#switchMain, #logo {
    box-shadow: none;
}

.imgVitrine {
    display: inline-grid;
    max-width: 30%;
    text-align: center;
}

.imgVitrine > h2 {
    font-weight: bolder;
}

.imagemVitrine {
    max-width: 100%;
    margin: 2% 1% 2% 1%;
} 

#vitrine3 {
    margin: 0% 2% 0% 2%;
}
/*
#vitrine3 > img {
    display: inline-block;
    max-width: 33%;
    margin: 0% 1% 0% 1%;
}*/

#vitrine4 {
    display: block;
    margin: 0% 0% 1% 8.4%;
}

#vitrine4imagens {
    display: inline-block;
    width: 69%;
    margin: 0% 1% 0% -18%;
}

#vitrine4 > img {
    width: 33.33%;
}

#vitrine4saibaMais {
    display: inline-block;
    width: 20%;
    height: 10%;
    margin: 0% 1% 0% 1%;
    text-align: start;
}

aside {
    margin-top: 2.5%;
    text-align: left;
    background-color: #d1d1d1;
    box-shadow: black;
    margin: 0% 7% 0% 7%;
    padding: 1% 5% 1% 5%;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.289);
}

section {
    display: table-cell;
    width: 20%;
    margin-left: 7%;
    margin-right: 4%;
    align-items: start;


}

li {
    list-style: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #a1a1a1;
}

a:visited {
    text-decoration: none;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 2.5%;
}